.wrapper{width:100%;}
ul{list-style-type:none}
li{float:left;padding: 0 10px;padding-top:32px;display: inline-block }
.carousel-indicators{margin: 0 auto;display:none}
.carousel-indicators li{border:1px solid pink !important;padding:0px;margin:1px;}
.carousel-indicators li.active{background-color: pink !important;padding:0px;margin:1px; }
.glyphicon-chevron-left:before{content:"";}
.glyphicon-chevron-right:before{content:"";}
h1{text-align:center}
.pointsUL{display:inline-block;width:50%;list-style-type:disc;color:black}
.points{color:black}
.ai, .ml{background:url('../assets/body.jpg') no-repeat;background-size:  cover;height: 500px}
/* Reset body padding and margins */
body { margin:0; padding:0; }

/* Make Header Sticky */
#header_container { background:rgb(14, 13, 13); border:1px solid #666; height:60px; left:0; position:fixed; width:100%; top:0; }
/* #header{ line-height:60px; margin:0 auto; width:940px; text-align:center; } */

/* CSS for the content of page. I am giving top and bottom padding of 80px to make sure the header and footer do not overlap the content.*/
#body { margin:0 auto; overflow:auto; padding:80px 0; width:940px; }
#content{}

/* Make Footer Sticky */
#footer_container { background-color:rgb(15, 15, 15); border:1px solid #666; bottom:0; height:60px; left:0; position:fixed; width:100%; }
#footer { line-height:60px; margin:0 auto; width:940px; text-align:center; }
footer{background-color: black;}
li{float: left}