.wrapper{width:100%;}
ul{list-style-type:none}
li{float:left;padding: 0 10px;padding-top:32px }
.carousel-indicators li.active{background-color: black !important}
.glyphicon-chevron-left:before{content:"";}
.glyphicon-chevron-right:before{content:"";}
h1{text-align:center}
